<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- Collect the nav links, forms, and other content for toggling -->
        {# <div class="collapse navbar-collapse navbar-relative-bottom" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dropdown-toggle animate" data-toggle="dropdown">
                        Nettoyage
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="">
                            <a href="#" style="font-size: 15px" data-slide-to="6">M&eacute;nage &eacute;cologique
                                <span class="pull-right glyphicon glyphicon-share-alt"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            <ul>
        </div> #}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
