{% extends 'base.html.twig' %}

{% block title %}Edit ContentType{% endblock %}

{% block body %}
    <h1>Edit ContentType</h1>

    {{ include('content_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('content_type_index') }}">back to list</a>

    {{ include('content_type/_delete_form.html.twig') }}
{% endblock %}
