{% extends 'base.html.twig' %}

{% block title %}New ContentType{% endblock %}

{% block body %}
    <h1>Create new ContentType</h1>

    {{ include('content_type/_form.html.twig') }}

    <a href="{{ path('content_type_index') }}">back to list</a>
{% endblock %}
